#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;

  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}
