#contacts {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
}

.contacts {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.contact-details {
  text-align: center;
  margin: 5px auto;
}
#Styler for contacts section, to be implemented properly later on by using a local jekyll build to recompile and build site with this new file in "/assets/css/main.css"

